# Terraform build + state (do NOT commit)
**/.terraform/*
*.tfstate
*.tfstate.*

# Terraform crash & override files
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Keep the dependency lock file in Git
!.terraform.lock.hcl

# Usually keep secrets out of Git
*.tfvars
!**/templates.tfvars